zksort/build/
zksort/dist/zksort
zksort/dist/resource.rcc
zksort/Makefile*
zksort/object_script*
3rdparty/*/Makefile*
3rdparty/*/build/
3rdparty/*/lib/**/Makefile*
uikits/Makefile*
uikits/build/
Makefile*
*.o
moc_*
*.autosave
